:root {
  --color-blue: #4d5ae5;
  --color-navy: #2e2f42;
  --color-hover: #404bbf;
  --color-white: #fff;
  --color-grey: #434455;
  --ghost-white: #f4f4fd;
  --card-set-gap: 24px; /* Gap between cards #1 */
  --card-prev-set-gap: 48px; /* Gap between cards #2 */
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-grey);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
}

/* ---------------------------------------INDEX PAGE------------------------------------ */
/* HEADER */
header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}
.logo-head {
  margin-right: 76px;
  padding-top: 5px;
}
.logo-header {
  color: var(--color-navy);
}

.link {
  text-decoration: none;
}
.nav.link {
  color: var(--color-navy);
}
.nav {
  display: flex;
}
.nav-list:not(:last-child) {
  margin-right: 40px;
}
.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--color-hover);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* NAV LINKS */
.list {
  list-style: none;
  font-weight: 500;
}
.navigation {
  display: flex;
  align-items: center;
}
/* /NAV LINKS */
/* CONTACT LINKS */
.contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-grey);
}
.address {
  display: flex;
  align-items: center;
}
.mail-link {
  margin-right: 40px;
}
/* /CONTACT LINKS */
/* /HEADER */

/* HERO SECTION */
.hero {
  background-color: var(--color-navy);
}
.hero-container {
  padding: 188px 0;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}
.primary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--color-hover);
}
/* ADVANTAGES */
.adv-container {
  padding: 120px 0;
}
.adv {
  display: flex;
  flex-wrap: wrap;

  margin-left: (-1 * var(--card-set-gap));
  margin-top: (-1 * var(--card-set-gap));
}
.adv-list {
  /* flex-basis: calc(100% / 4 - var(--card-set-gap)); */
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  max-width: 264px;
}
.main-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy);
  margin-bottom: 8px;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  font-weight: 400;
}
/* /ADVANTAGES */
/* FEATURES */
.features-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy);
  margin-bottom: 72px;
}
.features-container {
  padding-bottom: 120px;
}
.feat {
  display: flex;
  flex-wrap: wrap;

  margin-left: (-1 * var(--card-set-gap));
  margin-top: (-1 * var(--card-set-gap));
}
.feat-list {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
/* /FEATURES */
/* TEAM SECTION */
.team {
  background-color: var(--ghost-white);
}
.team-container {
  padding: 120px 0;
}
.list.team-back > .list {
  background-color: var(--color-white);
}
.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy);
  margin-bottom: 72px;
}
.team-back {
  display: flex;
  flex-wrap: wrap;
  margin-left: (-1 * var(--card-set-gap));
  margin-top: (-1 * var(--card-set-gap));
}
.team-list {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.card-content {
  text-align: center;
  padding: 32px 16px;
}
.team-first-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  font-weight: 400;
  margin-top: 8px;
}
/* /TEAM SECTION */
/* FOOTER */
.footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ghost-white);
  background-color: var(--color-navy);
}
.footer-container {
  padding: 120px 1020px 100px 156px;
}
.footer-data-container {
  max-width: 264px;
}
.logo-footer {
  color: var(--ghost-white);
}
.footer-text {
  margin-top: 16px;
}
/* /FOOTER */
/* -----------------------------------/INDEX PAGE-------------------------------- */
/* --------------------------------PORTFOLIO------------------------------------- */
/* MAIN */
.filter-container {
  padding-top: 168px;
}
.button-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.secondary-btn {
  font-family: "Roboto", Sans-serif;
  cursor: pointer;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-blue);
  background-color: var(--ghost-white);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
}
.btn-list:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--color-white);
  background-color: var(--color-hover);
}
/* /MAIN */
/* -------------------------------------/PORTFOLIO------------------------------- */
.privileges-container {
  padding-top: 72px;
  padding-bottom: 120px;
}
.privileges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: (-1 * var(--card-set-gap));
  margin-top: (-1 * var(--card-prev-set-gap));
}
.privileges-link {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-prev-set-gap);
}
.priv-cards {
  border: 1px solid #e7e9fc;
  padding: 32px 0 16px 32px;
}
